In [12]:
z=['a','b','c','d']
for i in range(4):
    print(f"{i} element in list is {z[i]}")

0 element in list is a
1 element in list is b
2 element in list is c
3 element in list is d

In [13]:
for i in z:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [16]:
a=int(input("Enter a number "))
b=int(input("Enter a number "))
print(f"sum of above two numbers is {a+b}")

Enter a number 12123355
Enter a number 243356
sum of above two numbers is 12366711

In [34]:
str=input("Enter your name ")
a=str.replace(" ","")
print(a)

Enter your name Abhishek Raturi
AbhishekRaturi

In [35]:
str=input("Enter your name ")
c=str.find(" ")
if c==-1:
    print("space not found")
else:
    print(f"space found at index {c}")

Enter your name Abhishek Raturi
space found at index 8

In [71]:
# os module
# Create dir
import os
import sys
#print(os.name)
#print(os.uname())

#os.mkdir("/Users/abhishekraturi/Downloads/test")


#if os.path.isdir("/Users/abhishekraturi/Downloads/test"):
    #print("directory exists")
    
#if:
    #os.mkdir("/Users/abhishekraturi/Downloads/test")
    
if os.path.isfile("/Users/abhishekraturi/Downloads/abhi.txt"):
    print("file exists and now opening the file and performing read operation on file")
    with open("/Users/abhishekraturi/Downloads/abhi.txt","r") as fh:
        for line in fh:
            print(line)
        
else:
    with open("/Users/abhishekraturi/Downloads/abhi.txt","w") as fh:
        fh.write("Hello")

file exists and now opening the file and performing read operation on file
Hello

In [79]:
# python apis
#!pip install requests
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/1"
response=requests.get(api_url)
print(response)
print(response.json())

<Response [200]>
{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [80]:
#functions
def name(name):
    print(f"You entered your name {name}")
    
name("Abhishek Raturi")

You enetered your name Abhishek Raturi

In [92]:
# regex using python
import re
text="This is Abhishek Raturi with Ip address as 10.255.255.255 , ok"
x=re.search("([0-9]{1,3}\.){3}[0-9]{1,3}",text)
print(x)

<re.Match object; span=(43, 57), match='10.255.255.255'>

In [21]:
import numpy as np
import pandas as pd
df=pd.read_csv("/Users/abhishekraturi/Downloads/committee.csv")

In [22]:
df.head()

        COMMITTEE  BILLS104  SIZE  SUBS  STAFF  PRESTIGE  BILLS103
0  Appropriations         6    58    13    109         1         9
1          Budget        23    42     0     39         1       101
2           Rules        44    13     2     25         1        54
3  Ways_and_Means       355    39     5     23         1       542
4         Banking       125    51     5     61         0       101

In [23]:
df.tail()

           COMMITTEE  BILLS104  SIZE  SUBS  STAFF  PRESTIGE  BILLS103
15    Small_Business         8    43     4     29         0         9
16  Veterans_Affairs        28    33     3     36         0        41
17   House_Oversight        68    12     0     24         0       233
18   Stds_of_Conduct         1    10     0      9         0         0
19      Intelligence         4    16     2     24         0         2

In [24]:
df.info

<bound method DataFrame.info of                   COMMITTEE  BILLS104  SIZE  SUBS  STAFF  PRESTIGE  BILLS103
0            Appropriations         6    58    13    109         1         9
1                    Budget        23    42     0     39         1       101
2                     Rules        44    13     2     25         1        54
3            Ways_and_Means       355    39     5     23         1       542
4                   Banking       125    51     5     61         0       101
5       Economic_Educ_Oppor       131    43     5     69         0       158
6                  Commerce       271    49     4     79         0       196
7   International_Relations        63    44     3     68         0        40
8         Government_Reform       149    51     7     99         0        72
9                 Judiciary       253    35     5     56         0       168
10              Agriculture        81    49     5     46         0        60
11        National_Security        89    55     7     48         0        75
12                Resources       142    44     5     58         0        98
13      TransInfrastructure       155    61     6     74         0        69
14                  Science        27    50     4     58         0        25
15           Small_Business         8    43     4     29         0         9
16         Veterans_Affairs        28    33     3     36         0        41
17          House_Oversight        68    12     0     24         0       233
18          Stds_of_Conduct         1    10     0      9         0         0
19             Intelligence         4    16     2     24         0         2>

In [26]:
df.columns

Index(['COMMITTEE', 'BILLS104', 'SIZE', 'SUBS', 'STAFF', 'PRESTIGE',
       'BILLS103'],
      dtype='object')

In [30]:
df.isna().sum()

COMMITTEE    0
BILLS104     0
SIZE         0
SUBS         0
STAFF        0
PRESTIGE     0
BILLS103     0
dtype: int64

In [31]:
df.isnull().sum()

COMMITTEE    0
BILLS104     0
SIZE         0
SUBS         0
STAFF        0
PRESTIGE     0
BILLS103     0
dtype: int64

In [32]:
df.isnull()

    COMMITTEE  BILLS104   SIZE   SUBS  STAFF  PRESTIGE  BILLS103
0       False     False  False  False  False     False     False
1       False     False  False  False  False     False     False
2       False     False  False  False  False     False     False
3       False     False  False  False  False     False     False
4       False     False  False  False  False     False     False
5       False     False  False  False  False     False     False
6       False     False  False  False  False     False     False
7       False     False  False  False  False     False     False
8       False     False  False  False  False     False     False
9       False     False  False  False  False     False     False
10      False     False  False  False  False     False     False
11      False     False  False  False  False     False     False
12      False     False  False  False  False     False     False
13      False     False  False  False  False     False     False
14      False     False  False  False  False     False     False
15      False     False  False  False  False     False     False
16      False     False  False  False  False     False     False
17      False     False  False  False  False     False     False
18      False     False  False  False  False     False     False
19      False     False  False  False  False     False     False